This could be a list of item but for now I just read from a fake index <%= @index %>

<%%= image_tag "out.png" %>
<table>
<tr>
<% @results[0][0].swagger_types.keys.each do |key| %>

  <th><%= key %>
  </th>
<% end %>
</tr>
<% @results[0].each do |row|  %>
	<tr>
	 <% row.attributes.values.each do |value| %>
	 <td>
	 <%= value %>
	 </td>
	 <%end %>
	 </tr>
<% end %>
</table>

<table>
<% @samples[0][0].swagger_types.keys.each do |key| %>

  <th><%= key %>
  </th>
<% end %>
</tr>
<% @samples[0].each do |row|  %>
	<tr>
	 <% row.attributes.values.each do |value| %>
	 <td>
	 <%= value %>
	 </td>
	 <%end %>
	 </tr>
<% end %>
</table>
